@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #e9e7e7;
    /* scroll-behavior: smooth; */
}

/* ============================HEADER=============================== */

.header-cal {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: dodgerblue;
    height: 60px;
    display: inline-block;
}

.header-cal h1 {
    font-size: 1.5em;
    text-align: left;
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: white;    
}

/* ====================================NAV MENU====================================== */

.nav .menu-calendario {
    list-style: none;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 13px;
    position: fixed;
    z-index: 11;
    top: 60px;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 3px lightgray;
}

.nav a {
    text-decoration: none;
    color: white;
    background-color: #ffa91e;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 6px 40px;
    border-radius: 7px;
}

.nav a:hover {
    background-color: dodgerblue;
    color: white;
    transition: 0.3s;
}

/* CONTEINERES PRINCIPAIS*/
/* sticky (calendário numérico) e info (calendário descritivo) */

.main /*conteiner principal do mês*/{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.center /*conteiner principal do mês (filho de main)*/{
    display: flex;
    flex-direction: row;
    width: 100%;
}    

.sticky /*conteiner da esquerda (filho de center) onde fica o calendário numérico*/{
    flex: 1;
}

.info /*conteiner da direita (filho de center) onde fica o calendário descritivo*/{
    flex: 2;
}

.sticky-item /*conteiner do calendário numérico - fixa quando rola o descritivo*/ {
    position: sticky;
    top: 120px;
}

/*CALENDÁRIO NUMÉRICO*/

.conteiner-cal-numero /*conteiner do calendário numérico (filho de sticky)*/ {
    width: 25rem;
    height: fit-content;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand';
    margin-left: 12px;
    margin-top: 10px;
}

.calendar /*calendário numérico (filho de conteiner-cal-numero)*/{
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 3px 3px 12px lightgray;
    color: gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.month-cal /*conteiner do título do calendário numérico (filho de calendar)*/{
    width: 100%;
    height: 8rem;
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.month-cal i {
    font-size: 2.2rem;
    cursor: pointer;
}

.month-cal i a {
    text-decoration: none;
    color: white;
}

.month-cal h1 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: .5rem;
    text-align: center;
    color: white;
}

.month-cal p {
    font-size: 0.6 rem;
}

/* Conteiner Dias da Semana (filho de month-cal) */


.weekdays {
    width: 100%;
    height: 3rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(24.6rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    padding: .1rem .1rem;
    display: flex;
    flex-wrap: wrap;
}

.days div {
    font-size: 1.2 rem;
    width: calc(24.6rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    text-align: center;
}

.prev-date, .next-date {
    opacity: 0.3;
}

.today {
    background-color: dodgerblue;
    color: white;
}

.days div:hover:not(.today) {
    background-color: rgb(228, 225, 225);
    cursor: pointer;
}

.weekdays div {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
}

/* ===========================BOTÕES DE FILTRO========================= */

button {
    width: 130px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: rgb(202, 55, 55);
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 2px 3px gray;
    outline: 0;
    cursor: pointer;
}

button:hover {
    background-color: #ca3737de;
    color: whitesmoke;
}

#btn-caab {
    position: fixed;
    right: 30px;
    top: 145px;
}

#btn-asp {
    position: fixed;
    right: 30px;
    top: 190px;
}

/* ==============================CALENDÁRIO DESCRITIVO============================= */

#janeiro {
    margin-top: 100px; 
    /* Necessário para ele não ficar escondido atrás do nav e do header */
}

.conteiner {
    border: 1px solid whitesmoke;
    width: 350px;
    height: 350px;
    position: fixed;
    left: 50px;
    top: 147px;
    border-radius: 7px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 8px gray;
}

.event-conteiner {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    max-width: 700px;
    margin: 0 auto;
    margin-right: 190px;
}

.main {
    scroll-margin-top: 120px;
    margin-top: 60px;
}

.event-conteiner .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 14px 0;
    background-color: white;
}

.event .event-left {
    background-color: dodgerblue;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 1px 8px;
    font-weight: bolder;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .others {
    background-color:gray;
}

.event .event-left .event-date .date {
    font-size: 24px;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
}

.event .event-right h3.event-title {
    font-size: 15px;
    margin: 4px 0 4px 0;
    color: #218bbb;
    text-transform: uppercase;
}

.event .event-right h3.others-d {
    color: gray;
}

.event .event-right .event-description {
    color: gray;
}

.event .event-right .event-timing {
    background-color: #fff8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 4px;
    border-radius: 16px;
    margin: 6px 0;
    font-size: 10px;
}

.event .event-right .event-description {
    font-size: 12px;
}

.conteiner-menu-cal {
    display: flex;
    justify-content: center;
    border: dodgerblue 1px solid;
}

.menu-cal {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border: black 3px solid;
}

.menu-cal li a {
      font-size: 20px;
      font-weight: bold;
      padding: 3px 10px;
      border-radius: 3px;
      border: 1px black solid;
      text-decoration: none;
}

.menu-cal li a:hover {
    color: white;
    background-color: dodgerblue;
    font-weight: bolder;
    cursor: pointer;
    border: 1px dodgerblue solid;    
}

.cal-num {
    border: solid 1px beige;
    height: 250px;
    width: 250px;
    background-color: white;
    box-shadow: 2px 2px 6px gray;
    position: fixed;
    z-index: 9;
    margin-top: 40px;
    margin-left: 3px;
    text-align: center;
    line-height: 250px;
}

.titulo-cal {
    text-align: center;
    background-color: dodgerblue;
    color: white;
    padding: 20px 0;
}

sup {
    text-transform: lowercase;
}

