* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
}

#btn-mobile {
    display: none;
}

#capa {
    width: 100%;
}

#logo {
    float: left;
    padding-top: 6px;
    padding-left: 10px;
    width: 120px;
    position: absolute;
    left: 10px;
    top: 1.5px;
}

#link-emergencias {
    background-color: #FF4538;
    color: #09181F;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: #09181F;
}

.wrapper ul {
    list-style: none;
}


.wrapper ul li {
    background: #09181F;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 15px;
    position: relative;
    font-family: 'Roboto';
}

.wrapper ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

.wrapper ul li:hover {
    background: dodgerblue;
}

.wrapper ul ul {
    display: none;
}

.wrapper ul li:hover > ul {
    display: block;
}

.wrapper ul ul ul {
    margin-left: 160px;
    top: 0;
    position: absolute;
}

/* Conteiner da imagem de capa da home */
#banner-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(imagens/capa.jpg);
    background-size: cover;
}


#content-area {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding-top: 50px;
}

#content {
    width: 80%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    text-align: center; 
    color: white;
    font-weight: 400;
    /* border: 2px solid red; */
}

.link-menu-corpo {
    width: 200px;
    background-color: #ffffff21;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-weight: 500;
    letter-spacing: .5px;
}

.link-menu-corpo:hover {
    background-color: white;
    color: #09181F;
    font-weight: 600;
    border: 1px solid white;
    transition: all .3s ease-out;
}

.data-inicial p {
    color: black;
}

#topo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #09181F;
    font-family: 'Roboto';
    font-size: 10px;
}

#sec-horarios {
    background-color: whitesmoke;
    padding-bottom: 100px;
}


#sec-salas {
    text-align: center;
    padding-top: 25px;
    color: white;
    background-color: #A1B30C;
    padding-bottom: 120px;
}

#sec-pes {
    width: 100%;
    background-color: whitesmoke;
    padding-bottom: 200px;
    color: white;
    text-align: center;
}

#sec-pes #conteudo-pessoas {
    text-align: center;
}

#conteudo-pessoas {
    margin-top: 20px;
    display: block;
}

#mapa-salas {
    display: flex;
    justify-content: space-evenly;
}

.mapa-salas {
    width: 30%;
    background-color: white;
    color: #09181F;
    border-collapse: collapse;
    border-spacing: 0px;
}

.mapa-salas caption {
    background-color: #09181F;
    color: white;
    padding: 10px 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.mapa-salas td {
    padding: 5px 0;
    border: 0.5px solid #09181F;
}

.mapa-salas th {
    border: 0.5px solid #09181F;
}

.table-conteiner {
    overflow-x: auto;
}

.table-conteiner table {
    width: 800px;
    /* height: 400px; */
    color: #000;
}

.tabela-tutores, #profissoes {
    width: 600px;
    /* height: 200px; */
    background-color: white;
    color: #09181F;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: left;
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0px;
    box-shadow: 2px 2px 8px gray;
}

.tabela-tutores th, #profissoes th {
    text-align: center;
    border: 1px lightgray solid;
    background-color: lightgray;
}

.tabela-tutores tr:hover, #profissoes tr:hover {
    background-color: lightgray;
}


.tabela-tutores td, #profissoes td {
    padding: 8px 2px 2px 1px;
    border: 1px lightgray solid;
}

.tabela-tutores td:nth-child(1), #profissoes td:nth-child(1)  {
    text-align: center;
}

.tabela-tutores td:nth-child(3), #profissoes td:nth-child(3)  {
    text-align: center;
}

.tabela-tutores td:nth-child(4), #profissoes td:nth-child(4)  {
    text-align: center;
}

.tabela-tutores caption, #profissoes caption  {
    padding: 12px 0 8px 0;
    background-color: #09181F;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


/* TABELAS COMPENSAÇÃO E PLANTÃO SEXTA */

#conteinerExtraclasse, #conteinerPlantaoSexta, #conteinerCompensacao {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#tabelaextraclasse {
    width: 800px;
    background-color: white;
    color: #09181F;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 12px gray;
}


#tabelaextraclasse td {
    padding: 10px 0 2px 0;
    color: #09181F;
    text-align: left;
    padding-left: 10px;
}


#tabelaextraclasse th {
    padding: 6px 0;
    background-color: #cbe5ff;
    color: #09181F;
    font-weight: normal;
}

#tabelaextraclasse caption {
    background-color: #09181F;
    color: white;
    padding: 16px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#tabelaextraclasse tr:nth-child(odd) {
    background-color: #dfecfa;
}

#tabelaextraclasse tr:hover {
    background-color: gray;
    color: #fff;
}

#compensacao {
    width: 650px;
    background-color: white;
    color: #09181F;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 12px gray;
}

#plantaodesexta {
    width: 400px;
    background-color: white;
    color: #09181F;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 12px gray;
}

#compensacao td, #plantaodesexta td {
    padding: 12px 0 2px 0;
    color: #09181F;
}

#compensacao th, #plantaodesexta th {
    padding: 6px 0;
    background-color: #cbe5ff;
    color: #09181F;
    font-weight: normal;
}

#compensacao caption, #plantaodesexta caption {
    background-color: #09181F;
    color: white;
    padding: 16px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#compensacao tr:nth-child(odd), #plantaodesexta tr:nth-child(odd) {
    background-color: #dfecfa;
}

#compensacao tr:hover, #plantaodesexta tr:hover {
    background-color: gray;
    color: #fff;
}


/* ======================PROFISSÕES====================== */
#profissoes {
    width: 65%;
}

/* SECTION HORÁRIOS */

#sec-horarios {
    padding: 20px;
}

#sec-horarios h1 {
    padding: 40px 20px;
    text-align: center;
}

.conteiner-horarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    /* border: 1px solid red; */

}

.card {
    width: 220px;
    text-align: center;
    margin: 10px;
    transition: all .3s ease-out;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    background-color: dodgerblue;
    color: #fff;
    /* background-color: rgb(235, 231, 231); */
}

.card div i {
    margin: 20px;
}

.card p {
    margin: 10px;
    font-weight: bold;
}

.card ul {
    list-style: none;
    margin: 20px;
}

.card ul li {
    margin: 10px 0px;
    text-align: left;
}

.card ul li a {
    text-decoration: none;
    font-size: small;
    font-style: italic;
    /* color: gray; */
}

.card ul li a:hover {
    text-decoration: underline;
    color: #fff;
}